.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;   
}

.text__ {
    color: var(--primary-color);
    font-size: 16px;
    margin: 20px auto;
    width: 72vh;
    height: 90px;
    font-family: "Roboto", sans-serif;
}

.container-title__text {
    color: var(--primary-color);
    font-size: 28px;
    font-family: "Roboto", sans-serif;
}