.text {
 color: var(--secondary-text);
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-size: 24px;
 font-weight: 300;
 line-height: normal;
 letter-spacing: 0.36px;
 text-align: center;
 width: 550px;
 margin: 1.75rem auto;
}